{{#section 'head'}}
    <link rel="stylesheet" href="/styles/auth.css">
{{/section}}
 
  <div class="container center">
    <h1 div class="title center">Namaste</h1>


 <!-- header--> 
    <div class="app-topbar"><img id="logo" src="/styles/images/namaste.png" alt="Namaste" style="width:50px;height:50px;">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Namaste</div>
        <a id="logout-link" href="/logout">Logout</a>
    </div>
    <h2>calendar</h2>

<nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
              </a>
            </li>
            <li><a href="mainpage">Main</a></li>
            <li><a href="quote">Quote</a></li>
            <li><a href="journal">Journal</a></li>
            <li><a href="settings">Settings</a></li
            <li>
              <a href="#" aria-label="Next">
              </a>
            </li>
          </ul>
        </nav>   
</div>