 <!-- content starts here --> 
      <div class="app-content">
<!-- personalized salutation -->       
        <div class="personalized-salutation">
          Good <div class="salutation" ></div>
          <div class="first-name"></div>
          Do you need some extra motivation? <br> How can I inspire you today?
        </div>
<!-- feelings buttons -->
        <div class="app-section">
          <div class="app-button" data-target="page4">Joy/Happiness/Love</div>
          <div class="app-button" data-target="page4">Fear/Anxiety/Anger</div>
          <div class="app-button" data-target="page4">Sadness/Grief/Defeated</div>
          <div class="app-button" data-target="page4">Loved ones</div>
        </div>
<!-- enter content and save  -->
        <div class="app-section">
          <textarea class="app-input" placeholder="A place for your thoughts"></textarea>
          <div class="app-button">Save your thoughts</div>
        </div>
<!-- sign up for daily quote notifications -->
        <div class="app-section">
          <div class="app-button" data-target="page7">Daily Quote Notification</div>
        </div>         
      </div> <!-- closes app-content --> 