{{#section 'head'}}
    <link rel="stylesheet" href="/styles/auth.css">
{{/section}}

<h1 div class="title center">Namaste</h1>

<div class="container">
  <form method="POST" action="/login" class="form-signin">
    <h2 class="form-signin-heading">Please log in</h2>
    
    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}
    
    <label for="inputPassword" class="sr-only">User Name</label>
    <input placeholder="Username" id="inputUsername" name="username" type="text" class="form-control validate" required>

    <label for="inputPassword" class="sr-only">Password</label>
    <input placeholder="Password" id="inputPassword" name="password" type="text" class="form-control validate" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  </form>
  <form method="get" action="/signup" class="form-signin">
    <button class="btn waves-effect waves-light" type="submit">Sign up!</button>
  </form>
</div>