 <!-- content starts here --> 
      <div class="app-content">
<!-- personalized salutation -->       
        <div class="personalized-salutation center">
          Good <div class="salutation"></div>
          <div class="first-name"></div>
          Do you need some extra motivation? <br> How can I inspire you today?
        </div>
<!-- feelings buttons -->
        <div class="app-section center">
          <a class="waves-effect waves-light btn"><i class="material-icons left">Joy/Happiness/Love</i></a>
          <br><br>
          <a class="waves-effect waves-light btn"><i class="material-icons left">Fear/Anxiety/Anger</i></a>
          <br><br>
          <a class="waves-effect waves-light btn"><i class="material-icons left">Sadness/Grief/Defeated</i></a>
          <br><br>
          <a class="waves-effect waves-light btn"><i class="material-icons left">Loved ones</i></a>
          <br><br>
        </div>
<!-- enter content and save  -->
        <div class="input-field center">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">A place for your thoughts</label>
          <a class="waves-effect waves-light btn"><i class="material-icons left">Save your thoughts</i></a>
        </div>
<!-- sign up for daily quote notifications -->
        <div class="app-section center center">
          <div class="app-button" data-target="page7">Daily Quote Notification</div>
        </div>         
      </div> <!-- closes app-content --> 