{{#section 'head'}}
    <link rel="stylesheet" href="/styles/auth.css">
{{/section}}

      <!-- header--> 
<div class="container center">
  <h1 div class="title center">Namaste</h1>
      <div class="app-topbar">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Namaste</div>
        <a id="logout-link" href="/logout">Logout</a>
      </div>
<!-- content starts here --> 
      <div class="app-content center">
<!-- personalized message -->        
        <div class="quotes-page">
          <pre>{{this.username}}</pre>
          <div class="first-name"></div>here's a quote to better your day:
           <pre>{{this.quote}}</pre>
           <pre>{{this.author}}</pre>
        </div>
<!-- quote goes here -->
        <div class="chosen-quote"></div>
<!-- calendar button -->
        <div class="app-section center">
          <a href="calendar" class="waves-effect waves-light btn"><i class="material-icons left">My Calendar</i></a>
        </div>

      </div>
  </div>

  <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
              </a>
            </li>
            <li><a href="mainpage">Main</a></li>
            <li><a href="journal">Journal</a></li>
            <li><a href="calendar">Calendar</a></li>
            <li><a href="settings">Settings</a></li
            <li>
              <a href="#" aria-label="Next">
              </a>
            </li>
          </ul>
        </nav>    
</div>       